@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-backgroung-color: #d9dbf1;
  --button-color: #3c00ff;
  --img-border-color: #667bd8;
  --job-color: #6262ff;
}

main {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  background-color: var(--main-backgroung-color);
}

.container {
  height: 500px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 2rem;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.img {
  height: 160px;
  width: 160px;
  /* border: 2px solid var(--img-border-color); */
  border-radius: 50%;
  background-image: url(./images/me.jpg);
  background-size: cover;
  background-position: center;
}

.job {
  font-family: "Shadows Into Light", cursive;
  font-size: 1.2rem;
  color: var(--job-color);
}

button {
  border: none;
  background-color: transparent;
  margin: 0 5px;
  font-size: 1.5rem;
  color: var(--button-color);
  cursor: pointer;
}
